<ion-header>
  <ion-toolbar>
    <ion-title>{{ isEdit ? 'Edit' : 'Add' }} Staff Member</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="isEdit ? '/staff/detail/' + staff.id : '/staff/list'"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()" #staffForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">First Name *</ion-label>
        <ion-input
          type="text"
          name="firstName"
          [(ngModel)]="staff.firstName"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Last Name *</ion-label>
        <ion-input
          type="text"
          name="lastName"
          [(ngModel)]="staff.lastName"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email *</ion-label>
        <ion-input
          type="email"
          name="email"
          [(ngModel)]="staff.email"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Phone *</ion-label>
        <ion-input
          type="tel"
          name="phone"
          [(ngModel)]="staff.phone"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Role *</ion-label>
        <ion-select name="role" [(ngModel)]="staff.role" required>
          <ion-select-option *ngFor="let role of roles" [value]="role">
            {{ role | titlecase }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Department *</ion-label>
        <ion-select name="department" [(ngModel)]="staff.department" required>
          <ion-select-option *ngFor="let dept of departments" [value]="dept">
            {{ dept }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Specialization</ion-label>
        <ion-input
          type="text"
          name="specialization"
          [(ngModel)]="staff.specialization"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">License Number</ion-label>
        <ion-input
          type="text"
          name="licenseNumber"
          [(ngModel)]="staff.licenseNumber"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Hire Date *</ion-label>
        <ion-datetime
          name="hireDate"
          [(ngModel)]="staff.hireDate"
          presentation="date"
          required
        ></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Status *</ion-label>
        <ion-select name="status" [(ngModel)]="staff.status" required>
          <ion-select-option *ngFor="let status of statuses" [value]="status">
            {{ status | titlecase }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Working Hours</ion-label>
        <ion-input
          type="text"
          name="workingHours"
          [(ngModel)]="staff.workingHours"
          placeholder="e.g., 9:00 AM - 5:00 PM"
        ></ion-input>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button
        type="submit"
        expand="full"
        [disabled]="staffForm.invalid || loading"
      >
        <ion-spinner *ngIf="loading" slot="start"></ion-spinner>
        {{ isEdit ? 'Update' : 'Add' }} Staff Member
      </ion-button>
    </div>
  </form>
</ion-content>
