<ion-header>
  <ion-toolbar>
    <ion-title>{{ patient?.id ? 'Edit' : 'Add' }} Patient</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="save()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input [(ngModel)]="form.name" name="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="form.email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Phone</ion-label>
      <ion-input [(ngModel)]="form.phone" name="phone" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-textarea [(ngModel)]="form.address" name="address" required></ion-textarea>
    </ion-item>

    <ion-button expand="full" type="submit" class="ion-margin-top">
      {{ patient?.id ? 'Update' : 'Add' }} Patient
    </ion-button>
  </form>
</ion-content>
