<ion-header>
  <ion-toolbar>
    <ion-title>Patients</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openAddModal()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let patient of patients">
      <ion-item>
        <ion-label>
          <h2>{{ patient.name }}</h2>
          <p>{{ patient.email }}</p>
          <p>{{ patient.phone }}</p>
        </ion-label>
      </ion-item>
      
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="editPatient(patient)">
          <ion-icon name="create"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deletePatient(patient.id!)">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <div *ngIf="patients.length === 0" class="ion-text-center ion-padding">
    <p>No patients found</p>
    <ion-button (click)="openAddModal()">Add First Patient</ion-button>
  </div>
</ion-content>
