<ion-header>
  <ion-toolbar>
    <ion-title>{{ staff?.id ? 'Edit' : 'Add' }} Staff Member</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="save()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input [(ngModel)]="form.name" name="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="form.email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Role</ion-label>
      <ion-select [(ngModel)]="form.role" name="role" required>
        <ion-select-option value="Doctor">Doctor</ion-select-option>
        <ion-select-option value="Nurse">Nurse</ion-select-option>
        <ion-select-option value="Receptionist">Receptionist</ion-select-option>
        <ion-select-option value="Admin">Admin</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Department</ion-label>
      <ion-select [(ngModel)]="form.department" name="department" required>
        <ion-select-option value="General">General</ion-select-option>
        <ion-select-option value="Cardiology">Cardiology</ion-select-option>
        <ion-select-option value="Orthopedics">Orthopedics</ion-select-option>
        <ion-select-option value="Emergency">Emergency</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" type="submit" class="ion-margin-top">
      {{ staff?.id ? 'Update' : 'Add' }} Staff Member
    </ion-button>
  </form>
</ion-content>
