<ion-header>
  <ion-toolbar>
    <ion-title>User Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button routerLink="/home" expand="block" color="secondary">
    Go to Homepage
  </ion-button>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Profile Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Name:</ion-label>
        <ion-text>{{ user?.name }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-text>{{ user?.email }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Role:</ion-label>
        <ion-text>{{ user?.role | titlecase }}</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button (click)="goToEditProfile()" expand="full">Edit Profile</ion-button>
</ion-content>
