<ion-header>
  <ion-toolbar>
    <ion-title>{{ isEdit ? 'Edit' : 'Create' }} Patient</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="isEdit ? '/patient/detail/' + patient.id : '/patient/list'"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()" #patientForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">First Name *</ion-label>
        <ion-input
          type="text"
          name="firstName"
          [(ngModel)]="patient.firstName"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Last Name *</ion-label>
        <ion-input
          type="text"
          name="lastName"
          [(ngModel)]="patient.lastName"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email *</ion-label>
        <ion-input
          type="email"
          name="email"
          [(ngModel)]="patient.email"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Phone *</ion-label>
        <ion-input
          type="tel"
          name="phone"
          [(ngModel)]="patient.phone"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Date of Birth *</ion-label>
        <ion-datetime
          name="dateOfBirth"
          [(ngModel)]="patient.dateOfBirth"
          presentation="date"
          required
        ></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Address *</ion-label>
        <ion-textarea
          name="address"
          [(ngModel)]="patient.address"
          required
        ></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Emergency Contact *</ion-label>
        <ion-input
          type="text"
          name="emergencyContact"
          [(ngModel)]="patient.emergencyContact"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Emergency Phone *</ion-label>
        <ion-input
          type="tel"
          name="emergencyPhone"
          [(ngModel)]="patient.emergencyPhone"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Medical History</ion-label>
        <ion-textarea
          name="medicalHistory"
          [(ngModel)]="patient.medicalHistory"
        ></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Allergies</ion-label>
        <ion-textarea
          name="allergies"
          [(ngModel)]="patient.allergies"
        ></ion-textarea>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button
        type="submit"
        expand="full"
        [disabled]="patientForm.invalid || loading"
      >
        <ion-spinner *ngIf="loading" slot="start"></ion-spinner>
        {{ isEdit ? 'Update' : 'Create' }} Patient
      </ion-button>
    </div>
  </form>
</ion-content>
