<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="register()" #registerForm="ngForm">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="registrationData.name" required></ion-input>
      <ion-text color="danger" *ngIf="validationErrors.name">{{ validationErrors.name[0] }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="registrationData.email" required></ion-input>
      <ion-text color="danger" *ngIf="validationErrors.email">{{ validationErrors.email[0] }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="registrationData.password" required></ion-input>
      <ion-text color="danger" *ngIf="validationErrors.password">{{ validationErrors.password[0] }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" name="password_confirmation" [(ngModel)]="registrationData.password_confirmation" required></ion-input>
    </ion-item>

    <ion-button type="submit" expand="full" [disabled]="registerForm.invalid || loading">
      <ion-spinner *ngIf="loading" slot="start"></ion-spinner>
      Register
    </ion-button>

    <p class="ion-text-center">
      <a routerLink="/login">Already have an account? Login</a>
    </p>
  </form>
</ion-content>
